## Preprocessing

In [215]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [216]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns = ['EIN', 'NAME'], axis = 1, inplace = True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [217]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [218]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [219]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# Creating cutoff value of one above the 156
cutoff = 50

# Get the counts for future comparison
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Create a list of application types to be replaced
application_types_to_replace = application_type_counts[application_type_counts < cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: count, dtype: int64

In [220]:
# Look at CLASSIFICATION value counts for binning
classification = application_df['CLASSIFICATION'].value_counts()
classification

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
C2190        1
C4200        1
C2600        1
C5200        1
C1370        1
C1248        1
C6100        1
C1820        1
C1900        1
C1236        1
C3700        1
C2570        1
C1580        1
C1245        1
C2500        1
C1570        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, dtype: int64

In [221]:
# You may find it helpful to look at CLASSIFICATION value counts >1
pd.set_option('display.max_rows', None) # from stack overflow
print(classification)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
C2190        1
C4200        1
C2600        1
C5200        1
C1370        1
C1248        1
C6100        1
C1820        1
C1900        1
C1236        1
C3700        1
C2570        1
C1580        1
C1245        1
C2500        1
C1570        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, dtype: int64

In [222]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# Repeat steps from last time
cutoff = 100

classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [223]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns = ['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS'], drop_first = True)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,108590,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,1,6692,1,False,False,False,True,False,False,False,...,True,False,True,False,False,False,False,False,False,False
4,1,142590,1,False,False,False,True,False,False,False,...,True,False,False,True,False,False,False,False,False,False

In [224]:
application_df.columns

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_T10',
       'APPLICATION_TYPE_T13', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3',
       'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8', 'APPLICATION_TYPE_T9',
       'AFFILIATION_Family/Parent', 'AFFILIATION_Independent',
       'AFFILIATION_National', 'AFFILIATION_Other', 'AFFILIATION_Regional',
       'CLASSIFICATION_C1200', 'CLASSIFICATION_C1270', 'CLASSIFICATION_C1700',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C2700',
       'CLASSIFICATION_C3000', 'CLASSIFICATION_C4000', 'CLASSIFICATION_C5000',
       'CLASSIFICATION_C7000', 'CLASSIFICATION_Other', 'USE_CASE_Heathcare',
       'USE_CASE_Other', 'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Co-operative', 'ORGANIZATION_Corporation',
       'ORGANIZATION_Trust', 'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

In [225]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns = 'IS_SUCCESSFUL')
y = application_df['IS_SUCCESSFUL']
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [226]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [227]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

#Input layer
nn.add(tf.keras.layers.Input(shape=(X_train_scaled.shape[1],)))

# First hidden layer
nn.add(tf.keras.layers.Dense(units=8, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=5, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_28"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_96 (Dense)            (None, 8)                 360

 dense_97 (Dense)            (None, 5)                 45

 dense_98 (Dense)            (None, 1)                 6

=================================================================
Total params: 411 (1.61 KB)
Trainable params: 411 (1.61 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [228]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [229]:
# Train the model
trained_model = nn.fit(X_train_scaled, y_train, epochs = 100, validation_data =(X_test_scaled, y_test))

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.6144 - accuracy: 0.6934 - val_loss: 0.5745 - val_accuracy: 0.7208
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5680 - accuracy: 0.7212 - val_loss: 0.5649 - val_accuracy: 0.7210
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5623 - accuracy: 0.7234 - val_loss: 0.5620 - val_accuracy: 0.7259
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5595 - accuracy: 0.7247 - val_loss: 0.5621 - val_accuracy: 0.7262
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5577 - accuracy: 0.7255 - val_loss: 0.5604 - val_accuracy: 0.7259
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5565 - accuracy: 0.7257 - val_loss: 0.5586 - val_accuracy: 0.7283
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5553 - accuracy: 0.7271 - val_loss: 0.5591 - val_accuracy: 0.7266
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5544 - accuracy: 0.7256 - val_loss: 0.5585 - val_accuracy: 0.7280
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5539 - accuracy: 0.7265 - val_loss: 0.5573 - val_accuracy: 0.7289
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5531 - accuracy: 0.7274 - val_loss: 0.5569 - val_accuracy: 0.7277
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5527 - accuracy: 0.7278 - val_loss: 0.5581 - val_accuracy: 0.7271
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5522 - accuracy: 0.7280 - val_loss: 0.5579 - val_accuracy: 0.7271
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5521 - accuracy: 0.7284 - val_loss: 0.5558 - val_accuracy: 0.7297
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5514 - accuracy: 0.7270 - val_loss: 0.5559 - val_accuracy: 0.7307
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5513 - accuracy: 0.7285 - val_loss: 0.5572 - val_accuracy: 0.7289
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7287 - val_loss: 0.5575 - val_accuracy: 0.7310
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7289 - val_loss: 0.5558 - val_accuracy: 0.7286
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7293 - val_loss: 0.5578 - val_accuracy: 0.7277
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5505 - accuracy: 0.7290 - val_loss: 0.5563 - val_accuracy: 0.7286
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7288 - val_loss: 0.5551 - val_accuracy: 0.7289
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7287 - val_loss: 0.5556 - val_accuracy: 0.7292
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5500 - accuracy: 0.7288 - val_loss: 0.5562 - val_accuracy: 0.7285
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5497 - accuracy: 0.7286 - val_loss: 0.5577 - val_accuracy: 0.7282
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5499 - accuracy: 0.7281 - val_loss: 0.5551 - val_accuracy: 0.7291
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.7288 - val_loss: 0.5573 - val_accuracy: 0.7291
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.7292 - val_loss: 0.5561 - val_accuracy: 0.7290
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5494 - accuracy: 0.7292 - val_loss: 0.5564 - val_accuracy: 0.7286
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5493 - accuracy: 0.7288 - val_loss: 0.5574 - val_accuracy: 0.7266
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5489 - accuracy: 0.7284 - val_loss: 0.5548 - val_accuracy: 0.7294
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5491 - accuracy: 0.7294 - val_loss: 0.5562 - val_accuracy: 0.7286
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7287 - val_loss: 0.5560 - val_accuracy: 0.7290
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5490 - accuracy: 0.7296 - val_loss: 0.5555 - val_accuracy: 0.7290
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5487 - accuracy: 0.7292 - val_loss: 0.5554 - val_accuracy: 0.7294
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5486 - accuracy: 0.7297 - val_loss: 0.5562 - val_accuracy: 0.7287
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7302 - val_loss: 0.5561 - val_accuracy: 0.7286
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5486 - accuracy: 0.7296 - val_loss: 0.5563 - val_accuracy: 0.7275
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5484 - accuracy: 0.7292 - val_loss: 0.5557 - val_accuracy: 0.7286
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5486 - accuracy: 0.7296 - val_loss: 0.5560 - val_accuracy: 0.7285
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5484 - accuracy: 0.7302 - val_loss: 0.5559 - val_accuracy: 0.7286
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5484 - accuracy: 0.7290 - val_loss: 0.5560 - val_accuracy: 0.7287
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7297 - val_loss: 0.5575 - val_accuracy: 0.7293
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5481 - accuracy: 0.7289 - val_loss: 0.5565 - val_accuracy: 0.7289
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7294 - val_loss: 0.5561 - val_accuracy: 0.7293
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7296 - val_loss: 0.5561 - val_accuracy: 0.7293
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5481 - accuracy: 0.7297 - val_loss: 0.5568 - val_accuracy: 0.7271
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7299 - val_loss: 0.5569 - val_accuracy: 0.7286
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7301 - val_loss: 0.5553 - val_accuracy: 0.7300
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7306 - val_loss: 0.5564 - val_accuracy: 0.7277
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7296 - val_loss: 0.5561 - val_accuracy: 0.7273
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7301 - val_loss: 0.5568 - val_accuracy: 0.7276
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7287 - val_loss: 0.5573 - val_accuracy: 0.7264
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7301 - val_loss: 0.5561 - val_accuracy: 0.7282
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7300 - val_loss: 0.5567 - val_accuracy: 0.7279
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7310 - val_loss: 0.5576 - val_accuracy: 0.7279
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7296 - val_loss: 0.5558 - val_accuracy: 0.7275
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7293 - val_loss: 0.5563 - val_accuracy: 0.7272
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7297 - val_loss: 0.5562 - val_accuracy: 0.7271

Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7297 - val_loss: 0.5565 - val_accuracy: 0.7275
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.7303 - val_loss: 0.5564 - val_accuracy: 0.7275
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7291 - val_loss: 0.5571 - val_accuracy: 0.7265
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7309 - val_loss: 0.5578 - val_accuracy: 0.7269
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7308 - val_loss: 0.5563 - val_accuracy: 0.7293
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7301 - val_loss: 0.5562 - val_accuracy: 0.7279
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7301 - val_loss: 0.5578 - val_accuracy: 0.7276
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7301 - val_loss: 0.5570 - val_accuracy: 0.7275
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7314 - val_loss: 0.5561 - val_accuracy: 0.7303
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7303 - val_loss: 0.5574 - val_accuracy: 0.7272
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7310 - val_loss: 0.5564 - val_accuracy: 0.7279
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7311 - val_loss: 0.5570 - val_accuracy: 0.7285
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7305 - val_loss: 0.5564 - val_accuracy: 0.7269
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7313 - val_loss: 0.5578 - val_accuracy: 0.7259
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7309 - val_loss: 0.5569 - val_accuracy: 0.7259
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7308 - val_loss: 0.5560 - val_accuracy: 0.7269
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7308 - val_loss: 0.5561 - val_accuracy: 0.7290
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7309 - val_loss: 0.5564 - val_accuracy: 0.7271
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7310 - val_loss: 0.5561 - val_accuracy: 0.7278
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7303 - val_loss: 0.5570 - val_accuracy: 0.7266
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7314 - val_loss: 0.5576 - val_accuracy: 0.7272
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7314 - val_loss: 0.5571 - val_accuracy: 0.7269
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7312 - val_loss: 0.5571 - val_accuracy: 0.7261
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7313 - val_loss: 0.5564 - val_accuracy: 0.7286
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7304 - val_loss: 0.5568 - val_accuracy: 0.7287
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7315 - val_loss: 0.5572 - val_accuracy: 0.7278
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7318 - val_loss: 0.5566 - val_accuracy: 0.7276
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7313 - val_loss: 0.5570 - val_accuracy: 0.7276
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7314 - val_loss: 0.5573 - val_accuracy: 0.7283
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7321 - val_loss: 0.5589 - val_accuracy: 0.7280
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7318 - val_loss: 0.5578 - val_accuracy: 0.7275
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7320 - val_loss: 0.5574 - val_accuracy: 0.7264
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7317 - val_loss: 0.5566 - val_accuracy: 0.7276
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7318 - val_loss: 0.5583 - val_accuracy: 0.7261
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7322 - val_loss: 0.5563 - val_accuracy: 0.7283
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7316 - val_loss: 0.5567 - val_accuracy: 0.7272
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7316 - val_loss: 0.5575 - val_accuracy: 0.7279
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7313 - val_loss: 0.5578 - val_accuracy: 0.7284
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7312 - val_loss: 0.5576 - val_accuracy: 0.7276
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7320 - val_loss: 0.5572 - val_accuracy: 0.7278
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7315 - val_loss: 0.5572 - val_accuracy: 0.7279
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7314 - val_loss: 0.5572 - val_accuracy: 0.7271
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7320 - val_loss: 0.5572 - val_accuracy: 0.7279

In [230]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5572 - accuracy: 0.7279 - 203ms/epoch - 759us/step
Loss: 0.5572130084037781, Accuracy: 0.7279300093650818

In [231]:
# The model gave a 64% accuracy and we need to hit 75% using at least 3 model optimization methods...

# Let's drop a column, add another hidden layer, adjust some neuron values, 
# and reduce the epoch since 100 seems to be overly excessive.

# Keeping the application_df as my initial dataframe...
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns = ['IS_SUCCESSFUL','USE_CASE_Heathcare', 'USE_CASE_Other',
       'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Co-operative', 'ORGANIZATION_Corporation',
       'ORGANIZATION_Trust',]) # Assuming special considerations doesn't matter much
y = application_df['IS_SUCCESSFUL']
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [232]:
# This code stays the same
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [233]:
# Time to refine the neuro network
nn = tf.keras.models.Sequential()
nn.add(tf.keras.layers.Input(shape=(X_train_scaled.shape[1],)))
nn.add(tf.keras.layers.Dense(units=12, activation='relu')) # Increasing units
nn.add(tf.keras.layers.Dropout(0.2))  # Add dropout
nn.add(tf.keras.layers.Dense(units=5, activation='relu')) # Increasing units
nn.add(tf.keras.layers.Dense(units=3, activation='selu')) # Adding another hidden layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model
trained_model = nn.fit(X_train_scaled, y_train, epochs = 25, validation_data =(X_test_scaled, y_test)) # Reducing the epochs

Model: "sequential_29"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_99 (Dense)            (None, 12)                456

 dropout_7 (Dropout)         (None, 12)                0

 dense_100 (Dense)           (None, 5)                 65

 dense_101 (Dense)           (None, 3)                 18

 dense_102 (Dense)           (None, 1)                 4

=================================================================
Total params: 543 (2.12 KB)
Trainable params: 543 (2.12 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________
Epoch 1/25
804/804 [==============================] - 2s 1ms/step - loss: 0.6287 - accuracy: 0.6672 - val_loss: 0.5766 - val_accuracy: 0.7194
Epoch 2/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5826 - accuracy: 0.7127 - val_loss: 0.5680 - val_accuracy: 0.7255
Epoch 3/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5764 - accuracy: 0.7191 - val_loss: 0.5643 - val_accuracy: 0.7277
Epoch 4/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5720 - accuracy: 0.7203 - val_loss: 0.5646 - val_accuracy: 0.7282
Epoch 5/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5695 - accuracy: 0.7222 - val_loss: 0.5630 - val_accuracy: 0.7292
Epoch 6/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5695 - accuracy: 0.7223 - val_loss: 0.5625 - val_accuracy: 0.7287
Epoch 7/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5692 - accuracy: 0.7237 - val_loss: 0.5629 - val_accuracy: 0.7289
Epoch 8/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5689 - accuracy: 0.7243 - val_loss: 0.5624 - val_accuracy: 0.7290
Epoch 9/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5670 - accuracy: 0.7244 - val_loss: 0.5619 - val_accuracy: 0.7279
Epoch 10/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5658 - accuracy: 0.7243 - val_loss: 0.5616 - val_accuracy: 0.7300
Epoch 11/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5662 - accuracy: 0.7257 - val_loss: 0.5616 - val_accuracy: 0.7293
Epoch 12/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5656 - accuracy: 0.7240 - val_loss: 0.5612 - val_accuracy: 0.7294
Epoch 13/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5645 - accuracy: 0.7254 - val_loss: 0.5617 - val_accuracy: 0.7307
Epoch 14/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5648 - accuracy: 0.7254 - val_loss: 0.5607 - val_accuracy: 0.7291
Epoch 15/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5647 - accuracy: 0.7259 - val_loss: 0.5603 - val_accuracy: 0.7290
Epoch 16/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5638 - accuracy: 0.7250 - val_loss: 0.5606 - val_accuracy: 0.7291
Epoch 17/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5644 - accuracy: 0.7246 - val_loss: 0.5612 - val_accuracy: 0.7291
Epoch 18/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5623 - accuracy: 0.7259 - val_loss: 0.5609 - val_accuracy: 0.7294
Epoch 19/25
804/804 [==============================] - 1s 2ms/step - loss: 0.5628 - accuracy: 0.7255 - val_loss: 0.5607 - val_accuracy: 0.7300
Epoch 20/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5627 - accuracy: 0.7264 - val_loss: 0.5612 - val_accuracy: 0.7303
Epoch 21/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5627 - accuracy: 0.7268 - val_loss: 0.5607 - val_accuracy: 0.7286
Epoch 22/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5624 - accuracy: 0.7259 - val_loss: 0.5608 - val_accuracy: 0.7301
Epoch 23/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5616 - accuracy: 0.7264 - val_loss: 0.5609 - val_accuracy: 0.7292
Epoch 24/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5626 - accuracy: 0.7252 - val_loss: 0.5608 - val_accuracy: 0.7292
Epoch 25/25
804/804 [==============================] - 1s 1ms/step - loss: 0.5620 - accuracy: 0.7268 - val_loss: 0.5610 - val_accuracy: 0.7296

In [234]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5610 - accuracy: 0.7296 - 199ms/epoch - 742us/step
Loss: 0.5610052943229675, Accuracy: 0.7295626997947693

In [235]:
# Export our model to HDF5 file
model = tf.keras.models.load_model('trained_model.h5')