## Preprocessing

In [29]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [30]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns = ['EIN', 'NAME'], axis = 1, inplace = True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [31]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [32]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [33]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# Creating cutoff value of one above the 156
cutoff = 157

# Get the counts for future comparison
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Create a list of application types to be replaced
application_types_to_replace = application_type_counts[application_type_counts < cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [34]:
# Look at CLASSIFICATION value counts for binning
classification = application_df['CLASSIFICATION'].value_counts()
classification

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
C2190        1
C4200        1
C2600        1
C5200        1
C1370        1
C1248        1
C6100        1
C1820        1
C1900        1
C1236        1
C3700        1
C2570        1
C1580        1
C1245        1
C2500        1
C1570        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, dtype: int64

In [35]:
# You may find it helpful to look at CLASSIFICATION value counts >1
pd.set_option('display.max_rows', None) # from stack overflow
print(classification)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
C2190        1
C4200        1
C2600        1
C5200        1
C1370        1
C1248        1
C6100        1
C1820        1
C1900        1
C1236        1
C3700        1
C2570        1
C1580        1
C1245        1
C2500        1
C1570        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, dtype: int64

In [36]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# Repeat steps from last time
cutoff = 1000

classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [37]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns = ['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS'], drop_first = True)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,108590,1,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,6692,1,False,False,True,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
4,1,142590,1,False,False,True,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False

In [38]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns = 'IS_SUCCESSFUL')
y = application_df['IS_SUCCESSFUL']
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [39]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [40]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

#Input layer
nn.add(tf.keras.layers.Input(shape=(X_train_scaled.shape[1],)))

# First hidden layer
nn.add(tf.keras.layers.Dense(units=8, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=5, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 296

 dense_4 (Dense)             (None, 5)                 45

 dense_5 (Dense)             (None, 1)                 6

=================================================================
Total params: 347 (1.36 KB)
Trainable params: 347 (1.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [41]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [42]:
# Train the model
trained_model = nn.fit(X_train_scaled, y_train, epochs = 100, validation_data =(X_test_scaled, y_test))

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.6412 - accuracy: 0.6600 - val_loss: 0.5872 - val_accuracy: 0.7123
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5757 - accuracy: 0.7205 - val_loss: 0.5726 - val_accuracy: 0.7173
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5636 - accuracy: 0.7231 - val_loss: 0.5670 - val_accuracy: 0.7217
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5584 - accuracy: 0.7250 - val_loss: 0.5654 - val_accuracy: 0.7205
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5560 - accuracy: 0.7260 - val_loss: 0.5645 - val_accuracy: 0.7216
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5537 - accuracy: 0.7268 - val_loss: 0.5620 - val_accuracy: 0.7198
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5524 - accuracy: 0.7291 - val_loss: 0.5621 - val_accuracy: 0.7214
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5514 - accuracy: 0.7293 - val_loss: 0.5614 - val_accuracy: 0.7238
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5502 - accuracy: 0.7294 - val_loss: 0.5591 - val_accuracy: 0.7264
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5493 - accuracy: 0.7307 - val_loss: 0.5604 - val_accuracy: 0.7219
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5487 - accuracy: 0.7286 - val_loss: 0.5598 - val_accuracy: 0.7244
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7304 - val_loss: 0.5608 - val_accuracy: 0.7222
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7305 - val_loss: 0.5613 - val_accuracy: 0.7248
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7311 - val_loss: 0.5595 - val_accuracy: 0.7228
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7307 - val_loss: 0.5589 - val_accuracy: 0.7238
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7311 - val_loss: 0.5588 - val_accuracy: 0.7227
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7310 - val_loss: 0.5594 - val_accuracy: 0.7236
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7314 - val_loss: 0.5585 - val_accuracy: 0.7237
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7315 - val_loss: 0.5589 - val_accuracy: 0.7234
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7311 - val_loss: 0.5587 - val_accuracy: 0.7256
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7317 - val_loss: 0.5597 - val_accuracy: 0.7265
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7313 - val_loss: 0.5591 - val_accuracy: 0.7238
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7320 - val_loss: 0.5591 - val_accuracy: 0.7231
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7307 - val_loss: 0.5602 - val_accuracy: 0.7227
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7312 - val_loss: 0.5599 - val_accuracy: 0.7273
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7322 - val_loss: 0.5605 - val_accuracy: 0.7224
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7322 - val_loss: 0.5599 - val_accuracy: 0.7237
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7310 - val_loss: 0.5613 - val_accuracy: 0.7255
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7326 - val_loss: 0.5586 - val_accuracy: 0.7257
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7324 - val_loss: 0.5596 - val_accuracy: 0.7250
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7327 - val_loss: 0.5594 - val_accuracy: 0.7234
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7324 - val_loss: 0.5608 - val_accuracy: 0.7254
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7319 - val_loss: 0.5597 - val_accuracy: 0.7242
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7317 - val_loss: 0.5584 - val_accuracy: 0.7254
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7327 - val_loss: 0.5595 - val_accuracy: 0.7255
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7334 - val_loss: 0.5591 - val_accuracy: 0.7259
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7339 - val_loss: 0.5591 - val_accuracy: 0.7244
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7319 - val_loss: 0.5592 - val_accuracy: 0.7261
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7329 - val_loss: 0.5591 - val_accuracy: 0.7227
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7329 - val_loss: 0.5593 - val_accuracy: 0.7233
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7324 - val_loss: 0.5599 - val_accuracy: 0.7272
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7332 - val_loss: 0.5583 - val_accuracy: 0.7236
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7327 - val_loss: 0.5580 - val_accuracy: 0.7269
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7324 - val_loss: 0.5588 - val_accuracy: 0.7241
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7320 - val_loss: 0.5588 - val_accuracy: 0.7242
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7341 - val_loss: 0.5572 - val_accuracy: 0.7265
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7344 - val_loss: 0.5593 - val_accuracy: 0.7250
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7337 - val_loss: 0.5580 - val_accuracy: 0.7237
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7331 - val_loss: 0.5582 - val_accuracy: 0.7256
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7327 - val_loss: 0.5593 - val_accuracy: 0.7268
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7340 - val_loss: 0.5575 - val_accuracy: 0.7245
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7342 - val_loss: 0.5595 - val_accuracy: 0.7269
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7339 - val_loss: 0.5587 - val_accuracy: 0.7259
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7340 - val_loss: 0.5583 - val_accuracy: 0.7247
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7346 - val_loss: 0.5579 - val_accuracy: 0.7257
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7335 - val_loss: 0.5589 - val_accuracy: 0.7264
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7347 - val_loss: 0.5587 - val_accuracy: 0.7265

Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7336 - val_loss: 0.5574 - val_accuracy: 0.7259
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7330 - val_loss: 0.5589 - val_accuracy: 0.7264
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7343 - val_loss: 0.5595 - val_accuracy: 0.7251
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7338 - val_loss: 0.5582 - val_accuracy: 0.7268
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7334 - val_loss: 0.5586 - val_accuracy: 0.7256
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7339 - val_loss: 0.5586 - val_accuracy: 0.7268
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7348 - val_loss: 0.5584 - val_accuracy: 0.7242
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7335 - val_loss: 0.5590 - val_accuracy: 0.7252
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7344 - val_loss: 0.5591 - val_accuracy: 0.7270
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7352 - val_loss: 0.5598 - val_accuracy: 0.7269
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7338 - val_loss: 0.5581 - val_accuracy: 0.7249
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7343 - val_loss: 0.5579 - val_accuracy: 0.7271
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7346 - val_loss: 0.5579 - val_accuracy: 0.7266
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7350 - val_loss: 0.5588 - val_accuracy: 0.7241
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7343 - val_loss: 0.5591 - val_accuracy: 0.7269
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7332 - val_loss: 0.5580 - val_accuracy: 0.7252
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7353 - val_loss: 0.5582 - val_accuracy: 0.7259
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7350 - val_loss: 0.5577 - val_accuracy: 0.7273
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7348 - val_loss: 0.5591 - val_accuracy: 0.7269
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7350 - val_loss: 0.5593 - val_accuracy: 0.7268
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7346 - val_loss: 0.5582 - val_accuracy: 0.7268
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7353 - val_loss: 0.5596 - val_accuracy: 0.7238
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7345 - val_loss: 0.5618 - val_accuracy: 0.7240
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7348 - val_loss: 0.5591 - val_accuracy: 0.7264
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7355 - val_loss: 0.5597 - val_accuracy: 0.7226
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7350 - val_loss: 0.5590 - val_accuracy: 0.7263
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7360 - val_loss: 0.5589 - val_accuracy: 0.7270
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7345 - val_loss: 0.5586 - val_accuracy: 0.7271
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7355 - val_loss: 0.5580 - val_accuracy: 0.7261
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7351 - val_loss: 0.5586 - val_accuracy: 0.7261
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7356 - val_loss: 0.5592 - val_accuracy: 0.7242
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7349 - val_loss: 0.5582 - val_accuracy: 0.7259
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7348 - val_loss: 0.5585 - val_accuracy: 0.7240
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7346 - val_loss: 0.5575 - val_accuracy: 0.7244
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7345 - val_loss: 0.5577 - val_accuracy: 0.7259
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7351 - val_loss: 0.5570 - val_accuracy: 0.7266
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7353 - val_loss: 0.5602 - val_accuracy: 0.7258
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7348 - val_loss: 0.5593 - val_accuracy: 0.7261
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7352 - val_loss: 0.5589 - val_accuracy: 0.7259
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7350 - val_loss: 0.5583 - val_accuracy: 0.7252
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7345 - val_loss: 0.5582 - val_accuracy: 0.7263
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7348 - val_loss: 0.5585 - val_accuracy: 0.7262
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7346 - val_loss: 0.5589 - val_accuracy: 0.7240

In [43]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5589 - accuracy: 0.7240 - 183ms/epoch - 681us/step
Loss: 0.5588767528533936, Accuracy: 0.7239649891853333

In [44]:
# Export our model to HDF5 file
model = tf.keras.models.load_model('trained_model.h5')

OSError: No file or directory found at trained_model.h5